<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean name="loginAction" class="com.action.LoginAction" scope="prototype">
        <property name="service" ref="service"/>
    </bean>

    <bean name="maintainAction" class="com.action.MaintainAction" scope="prototype">
        <property name="service" ref="service"/>
        <property name="maintain" ref="maintain"/>
    </bean>

    <bean name="adminAction" class="com.action.AdminAction" scope="prototype">
        <property name="admin" ref="admin"/>
        <property name="service" ref="service"/>
    </bean>

    <bean name="noticeAction" class="com.action.NoticeAction">
        <property name="notice" ref="notice"/>
        <property name="service" ref="service"/>
    </bean>

    <bean name="inspectionAction" class="com.action.InspectionAction">
        <property name="inspection" ref="inspection"/>
        <property name="service" ref="service"/>
    </bean>

    <bean name="customAccountAction" class="com.action.CustomAccountAction">
        <property name="customAccount" ref="customAccount"/>
        <property name="service" ref="service"/>
    </bean>

    <bean name="houseAction" class="com.action.HouseAction">
        <property name="house" ref="house"/>
        <property name="service" ref="service"/>
    </bean>

    <bean name="service" class="com.service.Service">
        <property name="alikeDao" ref="alikeDao"/>
    </bean>

    <bean name="alikeDao" class="com.dao.AlikeDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="admin" class="com.entity.Admin"/>
    <bean name="customAccount" class="com.entity.CustomAccount"/>
    <bean name="maintain" class="com.entity.Maintain"/>
    <bean name="notice" class="com.entity.Notice"/>
    <bean name="inspection" class="com.entity.Inspection"/>
    <bean name="house" class="com.entity.House"/>

    <bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>
    <bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <!--<property name="prepareConnection" value="true"/>-->
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="txPc" expression="execution(* com.service.*Service.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPc"/>
    </aop:config>

</beans>